# it's a good idea to use the django-oscar source, at least while developing - so that you will be able to browse and debug it easily
-e git+https://github.com/django-oscar/django-oscar.git@1.1.1#egg=django-oscar

# used to populate countries
pycountry

django-oscar-paypal
django-extensions
