{% extends 'oscar/dashboard/catalogue/product_update.html' %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load form_tags %}


{% block stockrecords_content %}
    <table class="table table-striped table-bordered">
        <caption>{% trans "Stock and pricing" %}</caption>
        {{ stockrecord_formset.management_form }}
        {{ stockrecord_formset.non_form_errors }}
        <thead>
            <tr>
                <th>{% trans "Partner" %}</th>
                <th>{% trans "SKU" %}</th>
                {% if product_class.track_stock %}
                    <th>{% trans "Num in stock" %}</th>
                    <th>{% trans "Num allocated" %}</th>
                    <th>{% trans "Low stock threshold" %}</th>
                {% endif %}
                <!--<th>{% trans "Currency" %}</th>-->
                <th>{% trans "Cost price" %}</th>
                <!--<th>{% trans "Price (excl tax)" %}</th>-->
                <!--<th>{% trans "Retail price" %}</th>-->
                <th>{% trans "Delete?" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for stockrecord_form in stockrecord_formset %}
                {% if stockrecord_form.non_field_errors %}
                <tr>
                    <td colspan="{% if product_class.track_stock %}10{% else %}7{% endif %}">
                        {% for error in stockrecord_form.non_field_errors  %}
                            <span class="error-block errorlist"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>{% include "dashboard/partials/form_field.html" with field=stockrecord_form.partner nolabel=True %}</td>
                    <td>{% include "dashboard/partials/form_field.html" with field=stockrecord_form.partner_sku nolabel=True %}</td>
                    {% if product_class.track_stock %}
                        <td>{% include "dashboard/partials/form_field.html" with field=stockrecord_form.num_in_stock nolabel=True %}</td>
                        <td>{{ stockrecord_form.instance.num_allocated|default:"-" }}</td>
                        <td>{% include "dashboard/partials/form_field.html" with field=stockrecord_form.low_stock_threshold nolabel=True %}</td>
                    {% endif %}
                    <!--<td>{% include "dashboard/partials/form_field.html" with field=stockrecord_form.price_currency nolabel=True %}</td>-->
                    <td>{% include "dashboard/partials/form_field.html" with field=stockrecord_form.cost_price nolabel=True %}</td>
                    <!--<td>{% include "dashboard/partials/form_field.html" with field=stockrecord_form.price_excl_tax nolabel=True %}</td>-->
                    <!--<td>{% include "dashboard/partials/form_field.html" with field=stockrecord_form.price_retail nolabel=True %}</td>-->
                    <td>
                        {% include "dashboard/partials/form_field.html" with field=stockrecord_form.id nolabel=True %}
                        {% include "dashboard/partials/form_field.html" with field=stockrecord_form.DELETE nolabel=True %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock stockrecords_content %}